################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ds4/FileContentIndex
/.vs/ds4/v17
/Laboratorio 2/.vs/Laboratorio 2/FileContentIndex
