################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ds4/FileContentIndex
/.vs/ds4/v17
/Laboratorio 2/.vs/Laboratorio 2/FileContentIndex
/Laboratorio 3/.vs/Laboratorio 3/FileContentIndex
/Laboratorio 4/.vs/Laboratorio 4/FileContentIndex
/Laboratorio 5/.vs/Laboratorio 5/FileContentIndex
